@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import "../node_modules/bootstrap/scss/functions";

// 2. Включите сюда любые переопределения переменных по умолчанию
// $color-mode-type: media-query;
$color-mode-type: data;

$primary: #f9322c;

$body-bg-dark: #161822;
$body-secondary-bg-dark: #1a1e28;

$btn-font-weight: 700;
$btn-font-family: Raleway, system-ui;
$btn-border-radius: 0.65rem;

$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$border-width: 0;
$border-radius: 0.85rem;

$carousel-control-color: $primary;
$carousel-dark-caption-color: $primary;
$carousel-indicator-active-bg: $primary;
$carousel-dark-indicator-active-bg: $primary;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$form-select-bg: var(--#{$prefix}secondary-bg);

$aspect-ratios: (
    "1x1": 100%,

    // слайдер
    "3x1": calc(1 / 3 * 100%),

    "4x3": calc(3 / 4 * 100%),

     // 500x400
    "5x4": calc(4 / 5 * 100%),

    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%),

    // все концерты
    "13x10": calc(10 / 13 * 100%),

    // A4
    "99x70": calc(70 / 99 * 100%)
);

@import "../node_modules/bootstrap/scss/bootstrap";

#buyTikets .ratio-16x9 {
    @include media-breakpoint-down(xl) {
        --bs-aspect-ratio: 90%;
    }
    @include media-breakpoint-down(md) {
        --bs-aspect-ratio: 130%;
    }
    @include media-breakpoint-down(sm) {
        --bs-aspect-ratio: 150%;
    }
}

// 3. Включите остальные требуемые таблицы стилей Bootstrap (включая любые отдельные таблицы стилей цветового режима)
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/variables-dark";

// 4. Включите сюда любые переопределения карт по умолчанию

// $form-select-bg: $body-secondary-bg;

// 5. Include remainder of required parts
// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";

// 6. При необходимости включите любые другие части
// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/helpers";

// 7. При желании добавьте API утилит в последнюю очередь, чтобы генерировать классы на основе карты Sass в `_utilities.scss`
// @import "../node_modules/bootstrap/scss/utilities/api";

// 8. Добавьте сюда дополнительный пользовательский код

body {
    overflow: overlay;
}

// scrollbar
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 8px;
}

// ::-webkit-scrollbar-track {}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

// ::-webkit-scrollbar-corner {}

.menu-slider .item:hover {
    background-color: $body-secondary-bg;
}

.menu-slider .item img {
    height: auto;
    width: 50px;
}
